<!DOCTYPE html>
<html lang="pt_br" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciar funcionário</title>
     
</head>


<body>

<form  
  th:action="@{/updatepost/{id}(id=${funcionario.id})}" 
  th:object="${funcionario}" 
  method="post">
    <label for="name">Name</label>
    <input type="text" th:field="*{nome}" id="nome" placeholder="Nome">
    <span th:if="${#fields.hasErrors('nome')}" th:errors="*{name}"></span>
    
    <br>
    
    <label for="email">Email</label>
    <input type="text" th:field="*{email}" id="email" placeholder="Email">
    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
    
    <br>
    
    <label for="name">telefone</label>
    <input type="text" th:field="*{telefone}" id="telefone" placeholder="Telefone">
    <span th:if="${#fields.hasErrors('telefone')}" th:errors="*{telefone}"></span>
    
    <br>
    
    <label for="name">Salário</label>
    <input type="text" th:field="*{salario}" id="salario" placeholder="Salário">
    <span th:if="${#fields.hasErrors('salario')}" th:errors="*{salario}"></span>
    
    <br>
    
    <input type="submit" value="Update funcionario">
</form>

</body>

</html>
